/*Document   : sstylesheet2.css*/ 
 
.root{ 
-fx-font:14px 'Letter Gothic Std';
-fx-text-fill:white;
-fx-background-color:black;
-fx-wrap-text:true;
}

.Variable{ 
-fx-fill:orangered;
}

.Constant{ 
-fx-fill:pink;
}

.Command{ 
-fx-fill:gold;
}

.Text{ 
-fx-fill:silver;
}

.Invalid{ 
-fx-fill:silver;
}

.Window{ 
-fx-background-color:black;
}

.Window .content{ 
-fx-background-color:black;
-fx-text-fill:white;
}

.Render{ 
-fx-background-color:red;
-fx-fill:blue;
-fx-width:red;
-turtle:red;
}

.ColorPicker{ 
-fx-font:8px 'Letter Gothic Std';
-fx-background-color:white;
}

