/*Document   : sstylesheet2.css*/ 
 
.root{ 
-fx-font:14px 'Letter Gothic Std';
-fx-text-fill:white;
-fx-background-color:black;
-fx-wrap-text:true;
}

.Variable{ 
-fx-fill:#b3ccffff;
}

.Constant{ 
-fx-fill:pink;
}

.Command{ 
-fx-fill:#ccffffff;
}

.Text{ 
-fx-fill:#e6e6e6ff;
}

.Invalid{ 
-fx-fill:#e6e6e6ff;
}

.Window{ 
-fx-background-color:#1a1a1aff;
-fx-text-fill:white;
}

.Window .content{ 
-fx-background-color:#1a1a1aff;
}

.Render{ 
-fx-background-color:#4d4d4dff;
-fx-stroke:#334db3ff;
-fx-width:87;
-turtle:red;
}

.ScrollPane{ 
-fx-background-color:slategray;
-fx-background:BLACK;
}

.ScrollPane .decrement-button{ 
-visibility:hidden;
}

.menu{ 
-fx-background:#2f5464;
}

.menu .label{ 
-fx-text-fill:white;
}

.menu-item .label{ 
-fx-text-fill:white;
}

.menu-item{ 
-fx-background-color:#2f5464;
}

.context-menu{ 
-fx-background-color:#2f5464;
}

.menu-item:focused .label{ 
-fx-text-fill:#b4e3f6;
}

.scroll-bar{ 
-fx-background-color:black;
-fx-font-size:10px;
}

.increment-button{ 
-fx-background-color:transparent;
-fx-border-color:transparent;
}

.decrement-button{ 
-fx-background-color:transparent;
-fx-border-color:transparent;
}

.scroll-bar .track{ 
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-background-radius:0em;
}

.scroll-bar .thumb{ 
-fx-background-color:slategray;
-fx-background-radius:2em;
}

.scroll-pane .corner{ 
-fx-background-color:transparent;
}

.ColorPicker{ 
-fx-font:8px 'Letter Gothic Std';
-fx-background-color:white;
}

