/*Document   : sstylesheet2.css*/ 
 
.Variable{ 
-root:
			14px 'Letter Gothic Std'	
			white
			black
			true
		;
}
.Constant{ 
-Variable:
			greenyellow
		;
-Constant:
			pink
		;
-Command:
			green
		;
-Text:
			silver	
		;
-Invalid:
			silver	
		;
}
.Command{ 
-Window:
			black
		;
-Window.content:
			black
			silver
		;
}
.Text{ 
-Render:
			red
		;
-Render:
			red
			red
			red
		;
}
.Invalid{ 
-fx-fill:silver;
}
.Window{ 
-fx-background-color:black;
}
.Window .content{ 
-fx-background-color:black;
-fx-text-fill:silver;
}
.ColorPicker{ 
-fx-font:8px 'Letter Gothic Std';
-fx-background-color:white;
}
.Render{ 
-fx-background-color:red;
-turtle:red;
-fx-fill:red;
-fx-width:red;
}
.ColorPicker{ 
-fx-font:8px 'Letter Gothic Std';
-fx-background-color:white;
}
